# Configuration file

general {
    # Can caves spawn in mining world (true - yes, false - no)
    B:caves_enable=true

    # Enable or disable debug.
    B:debug_log=true

    # The actual dimension id
    I:dimIDEnd=-8

    # The actual dimension id
    I:dimIDMining=-7

    # disabling of original Minecraft end
    B:disableEnd=true

    # disabling of original Minecraft nether
    B:disableNether=true

    # At which Y-level in End dim you'll be teleported to Mining dim
    I:endToMining=2

    # At which Y-level in Mining dim you'll spawn when coming from the end
    I:endToMiningPosition=250
    I:invulnerabilityTime=400

    # At which Y-level in Mining dim you'll be teleported to End dim
    I:miningToEnd=252

    # At which Y-level in End dim you'll be spawn when coming from the Mining dim
    I:miningToEndPosition=4

    # At which Y-level in Mining dim you'll be teleported to the overworld
    I:miningToOver=2

    # At which Y-level in overworld you'll be spawn when coming from the Mining dim
    I:miningToOverPosition=250

    # At which Y-level in the overworld you'll be teleported to Mining dim
    I:overToMining=252

    # At which Y-level in the Mining dim you'll spawn when coming from the overworld
    I:overToMiningPosition=4

    # Blocks from this list can deleted by teleporter
    S:teleporterWhiteList <
        thaumcraft:ore_quartz
        mysticalagriculture:prosperity_ore
        bigreactors:brore
        thaumcraft:ore_amber
        rftools:dimensional_shard_ore
        quantumflux:graphiteore
        minecraft:stone
        minecraft:stone:1
        minecraft:stone:3
        minecraft:stone:5
        minecraft:coal_ore
        minecraft:redstone_ore
        minecraft:lapis_ore
        minecraft:diamond_ore
        thermalfoundation:ore
        minecraft:dirt
        minecraft:gravel
        minecraft:gold_ore
        thermalfoundation:ore:2
        thermalfoundation:ore:3
        minecraft:iron_ore
        thermalfoundation:ore:1
        practicallogistics2:sapphireore
        thermalfoundation:ore:5
        draconicevolution:draconium_ore
        actuallyadditions:block_misc:3
        immersiveengineering:ore:5
        petrock:stoneiumore
        appliedenergistics2:quartz_ore
        mekanism:oreblock
        appliedenergistics2:charged_quartz_ore
        mysticalagriculture:inferium_ore
        thaumcraft:ore_cinnabar
        minecraft:emerald_ore
        minecraft:end_stone
     >

    # Cooldown before teleport
    I:tp_cooldown=200

    # Wait time to first login
    I:wait_time=800
}


